* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 3rem 10rem;
    padding: 2rem;
}

.full-width {
    width: 100%;
}

.center-align {
    display: flex;
    justify-content: center;
    text-align: center;
}

.red-label {
    color: #e06666;
}

.green-label {
    color: #93c47d;
}