* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 6rem 20rem;
    padding: 4rem;
}

.full-width {
    width: 100%;
}

.center-align {
    display: flex;
    justify-content: center;
    text-align: center;
}

.red-label {
    color: #e06666;
}

.green-label {
    color: #93c47d;
}

.spacing {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.left-space {
    margin-left: 1rem;
}

.full-width {
    width: 100%;
}

.card {
    width: fit-content;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 20px;
    background: #fff;
}

.avatar {
    margin: 20px;
    border-radius: 50%;
}

.gray-title {
    color: #999289;
    font-weight: 100;
}